
body {
    padding: 0;
    margin: 0;
    font-family: "Space Mono", serif;
}

.layout {
    background-color: #2D394E;
    min-height: 99vh;
    padding-top: 12px;
}

.container {
    background-color: #0A0316;
    min-height: 20vh;
    height: 96vh;
    max-height: 100vh;
    margin: 0 12px;
    border-radius: 10px;
}

.header {
    padding-top: 48px;
    display: flex;
    width: 93vw;
    align-items: center;
    gap: 10px;
    margin: 8px auto 2px auto;
}

.status_circle {
    text-align: center;
    transform: rotate(-90deg);
}

.header_title {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.header_wallet {
    display: flex;
    gap: 10px;
}

.header_wallet_score {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid #222C3D;
    background: #141B28;
    color: #7EFADD;
    font-size: 12px;
    font-weight: 400;
}

.header_wallet_connect {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #7EFADD;
    font-size: 12px;
    font-weight: 400;
}

.main {
    display: flex;
    width: 100%;
    height: 700px;
    margin-top: 70px;
    background-image: url("assets/img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: flex-start;
}

.box {
    width: 502px;
    height: 524px;
    flex-shrink: 0;
    background-color: #141B28;
    border-radius: 20px;
    position: relative;
}

.box_logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_connect_image {
    height: 235px;
    width: 502px;
    overflow: hidden;
}

.box_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #222C3D ;
}

.box_section {
    margin: 10px 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #222C3D ;
}

.box_text {
    color:  #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

.modal_button {
    cursor: pointer;
    display: flex;
    width: 400px;
    height: 20px;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #222C3D;
    margin: 0 auto;
}

.box_input {
    display: flex;
    height: 30px;
    width: 175px;
    padding: 12px 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #7EFADD;
    background: #0A0316;
    color: #7EFADD;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.box_input_buttons {
    display: flex;
    gap: 20px;
}

.box_input_button {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7EFADD;
    border-radius: 50px;
    color: #7EFADD;
    font-size: 40px;
    line-height: 0;
    cursor: pointer;
}

.box_input:focus {
    border: 1px solid #7EFADD;
}

::placeholder {
    color: #70718A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.box_steps {
    width: 88%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}

.box_step_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2D394E;
}

.box_balance {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 28px;
    width: 436px;
    padding: 0 12px;
    gap: 16px;
}

.box_balance_box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.full {
    width: 88%;
}

.box_title {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Orbitron, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.box_step {
    width: 52px;
    justify-content: center;
    align-items: center;
    color: #70718A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.box_info {
    display: flex;
    justify-content: center;
}

.box_info_title {
    margin-top: 40px;
    width: 462px;
}

.box_info_title p {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.box_info_title a {
    color: #7EFADD;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration-line: underline;
}

.box_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0 20px;
}


.triangle-topleft {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 80px solid #2D394E;
    border-right: 80px solid transparent;
}

.button {
    display: flex;
    cursor: pointer;
}

.button p {
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}


.custom_button svg {
    stroke: transparent;
    stroke-width: 0px;
}

.button_left {
    fill: red !important;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.box_section_column {
    width: 462px;
}

.box_section_content {
    height: 200px;
    display: flex;
}

.box_coming_soon {
    height: 195px;
    width: 420px;
}

.box_section_heroes {
    display: flex;
    flex-wrap: wrap;
    gap: 7.5px 10px;
    width: 300px;
    margin-right: 46px;
}

.primary {
    background-color:  #7EFADD;
    color: #222C3D;
    width: 176px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_balance_value {
    color: #7EFADD;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.box_description {
    color:  #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.secondary {
    background-color: #222C3D;
    color: #7EFADD;
    width: 176px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done {
    background-color: #7EFADD;
}

.wallet {
    height: 553px;
}

.large {
    width: 964px;
    height: 515px;
}

.wide {
    width: 90%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    background-color: rgba(34, 44, 61, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_modal {
    margin: 20px;
}

.box_description > p {
    margin: 0 20px 20px 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.box_copy_button {
    position: absolute;
    top: 24%;
    right: 8%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.header_wallet_dropdown {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: #222C3D;
    background: #141B28;
    color: #7EFADD;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    border: 1px solid #222C3D;
}

.dropdown_open {
    border-radius: 12px 12px 0 0;
    border-left: 1px solid #222C3D;
    border-right: 1px solid #222C3D;
    border-bottom: 1px solid #222C3D;
}

.dropdown_icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dropdown_menu {
    position: absolute;
    top: 40px;
    right: -1px;
    display: flex;
    width: 195px;
    flex-direction: column;
    z-index: 100;
    align-items: flex-start;
    gap: 8px;
    border-radius: 0 0 12px 12px;
    border-top: none;
    border-left: 1px solid #222C3D;
    border-right: 1px solid #222C3D;
    border-bottom: 1px solid #222C3D;
    background: #141B28;
}

.dropdown_section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 0 15px;
    padding: 10px 0 3px 0;
    border-top: 1px solid #222C3D;
    width: 170px;
}

.dropdown_item {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
    cursor: pointer;
}

.dropdown_item_text {
    font-family: "Space Mono", serif;
    color: #7EFADD;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.box_modal {
    height: auto;
}

.sidebar {
    position: absolute;
    width: 300px;
    right: 0px;
    height: 100vh;
    top: 0px;
    z-index: 100;
    background-color: #222C3D;
}

.button_metamask {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 20px;
    border: 1px solid #70718A;
    border-radius: 12px;
    cursor: pointer;
    gap: 20px;
}

.button_metamask_title {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.metamask_icon {
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.sidebar_close_button {
    width: 30px;
    display: flex;
    margin: 20px;
    cursor: pointer;
}

.header_avatar {
    height: 40px;
}